body *{
  margin: 0;
  border: 0;
}

nav{
  font-size: large;
}

  h4 {
    text-align:left; 
    }

   #Inicio h3 {
      font-weight: bold;
          }
    
    #inicio {
      position: relative;
      width: 100%;
      height: 500px;
      background: url("../img/ammplio-arquitectos-madrid-1407.jpg") no-repeat center/cover;
    }
    
    #inicio h3 {
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    

#presentacion{
        width: 100%;
        height: auto;
        background-color: #D6C8B8;
        color: rgb(0, 0, 0);
        text-align: Left;
      /*  padding-top: 50px;
        padding-left: 120px;*/
        font-size: 16px;
        font-weight: lighter;
  }    
  
  #experiencia{
    width: 100%;
    height: auto;
    background-color:black;
    color: white;
    /*text-align: Left;
    padding-top: 50px;
    padding-right: 150px;*/
    font-size: 16px;
    font-weight: lighter;

      
  }
  #experiencia li{

    font-size: 14px;
    font-weight: lighter;
  }

  #educacion{
    width: 100%;
    height: 500px;
    background-color:rgb(102, 94, 94);
    color: white;
    /*text-align: Left;*/
   padding-top: 100px;
    /*padding-right: 150px;*/
    font-size: 16px;
    font-weight: lighter;

      
  }

  footer{

    height:80px;
    background-color: black;
    text-align: center;
    color: whitesmoke;
    padding-top: 20px;
  }
            
